//COLORS
$black: #000000;
$white: #ffffff;

//FONTSIZES
//VARIABLE
$fs_xl_var: 5vw;
$fs_l_var: 2.25vw;
//FIXED
$fs_xl: 32px;
$fs_l: 20px;

//SPACING
$sp_1: 8px;
$sp_2: 16px;
$sp_3: 32px;
$sp_4: 64px;
$sp_5: 128px;
$sp_6: 256px;

//BREAKPOINTS
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1280px;
$desktop-xl: 1440px;
